[Unit]
Description=EVE-NG Jobs Worker
After=network.target mysql.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/unetlab
ExecStart=/usr/bin/php /opt/unetlab/scripts/jobs_worker.php --loop
Restart=always
RestartSec=2
StandardOutput=append:/opt/unetlab/data/Logs/jobs_worker.log
StandardError=append:/opt/unetlab/data/Logs/jobs_worker.log

[Install]
WantedBy=multi-user.target
