<div class="login-modern">
  <div class="login-modern__glow"></div>
  <div class="login-modern__grid row">
    <div class="login-modern__brand col-md-6">
      <div class="login-modern__brand-card">
        <img src="/themes/adminLTE/unl_data/img/Logo_EVE_Color.png" alt="EVE-NG Logo" class="login-modern__logo img-responsive">
        <p class="login-modern__version" data-ng-bind="eveversion"></p>
        <h1>{{t.brandTitle}}</h1>
        <p>{{t.brandSubtitle}}</p>
        <ul>
          <li>{{t.brandBulletOne}}</li>
          <li>{{t.brandBulletTwo}}</li>
        </ul>
      </div>
    </div>
    <div class="login-modern__form-wrapper col-md-5 col-md-offset-1">
        <div class="login-modern__card">
        <div class="login-modern__language form-group">
          <label class="field-label">{{t.languageLabel}}</label>
          <select class="form-control"
                  ng-model="lang"
                  ng-change="setLanguage(lang)"
                  ng-options="language.key as language.label for language in languages">
          </select>
        </div>
        <div class="login-modern__card-header">
          <h2>{{t.cardTitle}}</h2>
          <p>{{t.cardSubtitle}}</p>
        </div>
        <form class="login-modern__form" ng-submit="tryLogin()" novalidate>
          <label class="field-label">{{t.usernameLabel}}</label>
          <div class="login-field">
            <span class="login-field__icon fa fa-user"></span>
            <input type="text" class="form-control" placeholder="{{t.usernamePlaceholder}}" ng-model="username" autofocus>
          </div>

          <label class="field-label">{{t.passwordLabel}}</label>
          <div class="login-field">
            <span class="login-field__icon fa fa-lock"></span>
            <input type="password" class="form-control" placeholder="{{t.passwordPlaceholder}}" ng-model="password">
          </div>

          <div class="login-modern__options">
            <label class="field-label">{{t.consoleLabel}}</label>
            <div class="login-modern__toggle">
              <select name="html5" class="form-control" ng-init="html5='1'" ng-model="html5">
                <!--<option value=-1>Нативная консоль</option>-->
                <option value=1>{{t.html5Console}}</option>
              </select>
            </div>
          </div>

          <button id="btnlogin" type="submit" class="btn btn-primary btn-block login-modern__submit">{{t.submitButton}}</button>
        </form>
        <p class="login-modern__hint">
          {{t.hintText}}
        </p>
        <p class="login-modern__message text-danger" data-ng-bind="loginMessageInfo"></p>
      </div>
    </div>
  </div>
</div>
