RewriteEngine On
RewriteRule ^vncws/?(.*)$ ws://127.0.0.1:6080/$1 [P,L,QSA]
RewriteRule ^collabws/?(.*)$ ws://127.0.0.1:6090/$1 [P,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
